

.flexbox-conteiner{
  height: 320px;
  display: flex;     
  align-items: center;
  justify-content: space-between;
}
.flexbox-item{
  background-color: aqua;
   
  }
.flexbox-item1{ 
  height: 220px;
  flex-grow: 2;
  margin: 40px; 
}
.flexbox-item2{ 
  height: 220px;
  flex-grow: 2;
  margin: 20px;
  
}
.flexbox-item3{  
  height: 320px;
  margin: 40px; 
  width: 120px;
  
}

.flexbox-item4{ 
  align-items: warp;
  width: 160px;
  height: 160px;
  border-radius: 1000px; 
  align-content: center;
     
}









